body {
  background-color: #EAF6F6;
}

p {
  color: #31326f;
  font-family: sans-serif;
}

.title {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #31326F;
}

.tables {
  font-family: sans-serif;
}

.dates {
  color: #07689F;
}

.form {
  font-family: sans-serif;
  color: #2D6187;
  font-size: 15px;
}

h1 {
  color: #52057B;
}

h3 {
  color: #056676;
  text-decoration: underline;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

a {
  font-family: monospace;
  color: #799351;
  font-size: 15px;
}
